
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Firebase+Backbone+bindings</title>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="assets/app.css" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar">
    <div class="navbar-inner">
        <a href="#" class="brand">Firebase+Backbone+bindings</a>
        <ul class="nav">
            <li><a href="#/home">home</a></li>
            <li><a href="#/users">users</a></li>
            <li><a href="#/widgets">widgets</a></li>
            <li><a href="http://www.github.com/katowulf/backbone-firebase-proof">GitHub</a></li>
        </ul>
    </div>
</nav>

<section class="container">
    <article data-route="home" class="row">
        <div class="span12">
            <div class="hero-unit">
                <h1>Hello</h1>
                <p>Click on <a href="#/users">users</a> and <a href="#/widgets">widgets</a> to get some action. This demo employs:
                <table class="table table-striped" style="max-width: 600px">
                    <thead>
                        <tr>
                            <th>Feature</th>
                            <th>Lib</th>
                            <th>Scripts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Framework</td>
                            <td><a href="http://backbonejs.org/">Backbone</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Real-time database</td>
                            <td><a href="http://www.firebase.com">Firebase</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Adapter</td>
                            <td><a href="https://github.com/alexbain/backbone-firebase">backbone-firebase</a></td>
                            <td>Thanks <a href="https://github.com/alexbain">Alex</a>!</td>
                        </tr>
                        <tr>
                            <td>Hashtag Routing</td>
                            <td><a href="http://backbonejs.org/#Router">Backbone.Router</a></td>
                            <td><a href="https://github.com/katowulf/backbone-firebase-proof/blob/master/assets/router.js">assets/router.js</a></td>
                        </tr>
                        <tr>
                            <td>Data bindings</td>
                            <td><a href="https://github.com/theironcook/Backbone.ModelBinder">Backbone.ModelBinder</a></td>
                            <td>
                                <a href="https://github.com/katowulf/backbone-firebase-proof/blob/master/assets/bindings.js">assets/binding.js</a>
                                <br />
                                <a href="https://github.com/katowulf/backbone-firebase-proof/blob/master/assets/views.js">assets/views.js</a>
                            </td>
                        </tr>
                    </tbody>
                </ul>
            </table>
            <p>Everything else is demo-fluff!</p>
        </div>
    </article>
    <article data-route="users" class="row">
        <form>
        <div class="span4">
            <fieldset>
                <legend>add user</legend>
                <div class="control-group">
                    <label>name: <input type="text" name="name" value="user1" class="required" /></label>
                </div>
                <div class="control-group">
                    <label>email: <input type="text" name="email" value="user1@localhost.com" class="email required" /></label>
                </div>
                <button>add</button>
            </fieldset>
        </div>
        </form>
        <div class="span8">
            <ul class="data-panel"></ul>
        </div>
    </article>
    <article data-route="widgets" class="row">
        <form>
        <div class="span4">
            <fieldset>
                <legend>add widget</legend>
                <div class="control-group" id="widgetSelectGroup">
                    <label>owner: <select name="owner" class="required"></select>
                </div>
                <div class="control-group">
                    <label>label: <input type="text" name="name" value="widget 1" class="required" /></label>
                </div>
                <button>add</button>
            </fieldset>
        </div>
        </form>
        <div class="span8">
            <ul class="data-panel"></ul>
        </div>
    </article>
</section>

<div id="messages"></div>
<footer class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        current route: <span data-bind="route">home</span> /
        users loaded: <span data-bind="userCount">*</span> /
        widgets loaded: <span data-bind="widgetCount">*</span>
    </div>
</footer>

<!--
  ********** TEMPLATES ************
-->
<script type="text/template" name="data-panel">
    <li data-name="name"></li>
</script>

<script type="text/template" name="data-panel-users">
    <li><a href=""><span data-name="name"></span> (<span data-name="email"></span>)
        <i class="icon-remove-sign"></i></a></li>
</script>

<script type="text/template" name="data-panel-widgets">
    <li><a href=""><span data-name="name"></span> (<span data-name="owner"></span>)
        <i class="icon-remove-sign"></i></a></li>
</script>

<script type="text/template" name="option-template">
    <option></option>
</script>

<script type="text/template" name="message-template">
    <div class="alert <%- data.class %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%- data.txt %>
    </div>
</script>

<!--
  ********** LIBS ************
-->
<script type="text/javascript" src="http://static.firebase.com/v0/firebase.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.10.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js"></script>
<script type="text/javascript" src="lib/console-normalizer.js"></script>
<script type="text/javascript" src="lib/underscore.string.js"></script>
<script type="text/javascript" src="lib/backbone-firebase.js"></script>
<!--<script type="text/javascript" src="lib/rivets.js"></script>-->
<script type="text/javascript" src="lib/Backbone.ModelBinder.min.js"></script>
<script type="text/javascript" src="lib/Backbone.CollectionBinder.min.js"></script>
<script type="text/javascript" src="lib/jquery.prefix.selector.js"></script>

<!--
  ********** SCRIPTS ************
-->
<script type="text/javascript" src="assets/templates.js"></script>
<script type="text/javascript" src="assets/models.js"></script>
<script type="text/javascript" src="assets/collections.js"></script>
<script type="text/javascript" src="assets/views.js"></script>
<script type="text/javascript" src="assets/router.js"></script>
<script type="text/javascript" src="assets/bindings.js"></script>
<script type="text/javascript" src="assets/app.js"></script>

</body>
</html>
