
body {
   padding-bottom: 40px;
}

article[data-route] {
   display: none;
}

section.ruler div {
   height: 5px;
   background-color: #aaa;
   margin-bottom: 1px;
}

[class^="span"] {
   background-color: #eee;
   border-radius: 4px;
}

[class^="span"] > * {
   margin: 10px;
}

ul.data-panel {
   padding-left: 20px;
   list-style-type: none;
   max-height: 80%;
   overflow-y: scroll;
   overflow-x: hidden;
}

ul.data-panel li a {
   display: block;
   margin: 2px;
   padding: 5px;
}

.hero-unit {
   padding: 20px 60px;
}

.hero-unit h1 {
   margin: 0;
   padding: 0 0 20px 0;
}

footer .navbar-inner {
   line-height: 40px;
   text-align: center;
}

footer span {
   color: green;
}

form {
   display:inline;
}

input[type="text"] {
   height: auto;
}

.error {
   color: red;
}

#messages {
   position: absolute;
   width: 100%;
   bottom: 30px;
}

.navbar-inner{ filter:none;}
